---
// Base Layout
import BaseLayout from '../layouts/BaseLayout.astro';

// Components
import Date from '../components/Date.astro';
import Time from '../components/Time.astro';
import Weather from '../components/Weather.astro';
import WebCam from '../components/WebCam.astro';

// Your Styles
import '../styles/MyStyles.css';
---

<BaseLayout>

	<div class="flex justify-center bg-blue-300 rounded-2xl hover:bg-blue-200">
		<h1 class="m-5 font-bold text-3xl text-white">Smart Mirror</h1>
	</div>
	
	<div class="flex justify-center w-full h-60">
		<Date />

		<Time />
	</div>
	
	<div class="flex justify-center w-full h-60">
		<Weather />
	</div>
	

	<WebCam />
	
</BaseLayout>
