---
---
<script>
    // Check-check: webcam.js file is loaded
// console.log('Web Cam');

// Get Video
const video = document.querySelector("video");

// Navigator object
if (navigator.mediaDevices.getUserMedia) {
  
  navigator.mediaDevices
	.getUserMedia({
	  video: true
	})
	.then((stream) => (video.srcObject = stream))
	.catch((error) => console.log(error));
}
</script>

<style>

  /* Smart Mirror */
  video { 
    
      /* stack behind content     */
      z-index: -1;
      /* fill background with video    */
    object-fit: cover;
    object-position: center;
    display: flex;
    width: 100%;
    height: 100%;
  }
  </style>

<!-- Webcam -->
<div class="webcam card bg-base-200 shadow-xl lg:col-span-2 lg:row-span-2 flex justify-center card-bordered">
    <video class="object-fit border rounded-lg p-5" autoplay></video>
</div>