---
---
<script>
    // Check-check: webcam.js file is loaded
// console.log('Web Cam');

// Get Video
const video = document.querySelector("video");

// Navigator object
if (navigator.mediaDevices.getUserMedia) {
  
  navigator.mediaDevices
	.getUserMedia({
	  video: true
	})
	.then((stream) => (video.srcObject = stream))
	.catch((error) => console.log(error));
}
</script>

<style>

/* Smart Mirror */
video { 
  
  /* Position video      */
    position: absolute;
    top: 0;
    left: 0;
    /* Stretch to fill viewport */
    width: 100vw;
    height: 100vh;
    /* stack behind content     */
    z-index: -1;
    opacity: 0.3;
    /* fill background with video    */
  object-fit: cover;
  object-position: center;
  
}
</style>

<!-- Webcam -->
<div class="webcam card bg-base-200 shadow-xl lg:col-span-2 lg:row-span-2 flex justify-center card-bordered">
    <video class="object-fit border rounded-lg p-5" autoplay></video>
</div>