---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/public/favicons/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/public/favicons/favicon.svg" />
		<link rel="shortcut icon" href="/public/favicons/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/public/favicons/apple-touch-icon.png" />
		<link rel="manifest" href="/public/favicons/site.webmanifest" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Smart Mirror</title>
	</head>
	<body class="bg-blue-100 flex h-screen w-screen justify-center items-center p-5">
		<main class="">
			<slot />

		</main>        

	</body>
</html>
