---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Smart Mirror</title>
	</head>
	<body>
		<div class="flex items-center justify-center p-16">
			<main class="grid sm:grid-rows-4 lg:grid-rows-3 sm:grid-cols-1 lg:grid-cols-3 gap-5">
				<slot />
			</main>   
		</div>
	</body>
</html>
